USE [master]
GO
/****** Object:  Database [SimpleProject]    Script Date: 8/7/2026 6:19:33 PM ******/
CREATE DATABASE [SimpleProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimpleProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SimpleProject.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SimpleProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SimpleProject_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimpleProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimpleProject]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 8/7/2026 6:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
	[CountryCode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[People]    Script Date: 8/7/2026 6:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[CountryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/7/2026 6:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode]) VALUES (1, N'Afghanistan', N'AF')
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode]) VALUES (2, N'Albania', N'AL')
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode]) VALUES (3, N'Algeria', N'DZ')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonId], [FirstName], [LastName], [DateOfBirth], [Phone], [Email], [CountryId]) VALUES (1, N'Ali', N'Al-Ahmadi', CAST(N'1995-05-15 00:00:00.000' AS DateTime), N'+967771234567', N'ali.ahmadi@gmail.com', 191)
INSERT [dbo].[People] ([PersonId], [FirstName], [LastName], [DateOfBirth], [Phone], [Email], [CountryId]) VALUES (2, N'Sarah', N'Johnson', CAST(N'1998-11-20 00:00:00.000' AS DateTime), N'+12025550143', N'sarah.j@outlook.com', 184)
INSERT [dbo].[People] ([PersonId], [FirstName], [LastName], [DateOfBirth], [Phone], [Email], [CountryId]) VALUES (3, N'Mohammed', N'Hassan', CAST(N'1992-03-10 00:00:00.000' AS DateTime), N'+966501234567', N'm.hassan@yahoo.com', 149)
SET IDENTITY_INSERT [dbo].[People] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [PersonId], [Username], [PasswordHash], [IsActive], [CreatedDate]) VALUES (1, 1, N'ali_ahmadi', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 1, CAST(N'2026-08-07 00:51:43.803' AS DateTime))
INSERT [dbo].[Users] ([UserId], [PersonId], [Username], [PasswordHash], [IsActive], [CreatedDate]) VALUES (2, 2, N'sarah_j', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 1, CAST(N'2026-08-07 00:51:43.803' AS DateTime))
INSERT [dbo].[Users] ([UserId], [PersonId], [Username], [PasswordHash], [IsActive], [CreatedDate]) VALUES (3, 3, N'mhassan', N'5E884898DA28047151D0E56F8DC6292773603D0D6AABBD62A11EC7D406316009', 1, CAST(N'2026-08-07 00:51:43.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4E8A5B16D]    Script Date: 8/7/2026 6:19:33 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__AA2FFBE4B2CC3FF4]    Script Date: 8/7/2026 6:19:33 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
USE [master]
GO
